<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Message from <%= authorname %></title>
  </head>
  <body>
    <main>
      <header>
        <h1>Message from <%= authorname %></h1>
      </header>
      <section class="user-message">
        <p><i><%= creationdate %></i></p>
        <p><%= bio %></p>
        <a class="btn" href="/"> Go back </a>
      </section>
    </main>
  </body>
</html>
